body,
html {
    height: 100%;
}

td.room {
    color: dimgray;
}

div.listChat {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: lightgrey;
    top: 0;
    left: 0;
}

div.listChat th {
    font-size: 1.3em;
}

div.listChat h3 {
    display: inline;
    margin-right: 1em;
}

div.listChat button {
    background-color: cyan;
}

td.room:hover {
    background-color: black;
    color: white;
}

td.room:active {
    background-color: yellow;
    color: red;
}

.clicked {
    background-color: black;
    color: white;
}

div.chatArea {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: white;
    top: 0;
    right: 0;
}

div.chatArea input {
    position: fixed;
    height: 5%;
    width: 75%;
    background-color: antiquewhite;
    bottom: 0;
}

div.chatArea button {
    position: fixed;
    height: 5%;
    width: 5%;
    right: 0;
    bottom: 0;
}

div.chatArea h3 {
    margin-top: 0;
    background-color: navajowhite;
    text-align: center;
    color: darkmagenta;
}

#message {
    padding: 6px;
    margin-bottom: 4px;
    border: 2px solid black;
    border-radius: 25px;
    font-family: serif;
}

#username {
    font-weight: bold;
    display: inline;
    float: left;
}

#sentAt {
    display: inline;
    float: right;
    font-style: italic;
    padding-right: 20px;
}

#content {
    clear: both;
    display: block;
}